*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: rgb(251,251,251);
}
.header{
    height:31px;
    background: rgb(244,244,244);
    border-bottom:1px solid #ccc;
}
.header-content{
    width: 1200px;
    height: 31px;
    margin:0 auto;
}
.header-content .left{
    float:left;
}
.header-content .right{
    float:right;
}
.header-content ul li{
    float:left;
    line-height: 31px;
    font-family: 微软雅黑;
    font-size: 12px;
    color:black;
    padding:  0px 4px;
}
.header-content ul .sepecial{
    padding: 0;
}
.header-content ul li a{
    color:black;
}
.header-content ul li a:hover{
    color:rgb(244,3,4)
}
.title{
    height: 157px;
    border-bottom:3px solid rgb(244,3,4);
    background-color: #fff;
}
.title .content{
    width: 1200px;
    height: 157px;
    margin:0 auto;
    position: relative;
}
.title .content .img1{
    position: absolute;
    top:10px;
    left:0px;
}
.title .input-left{
width: 405px;
height: 36px;
border:2px solid rgb(244,3,4);
position: absolute;
left:350px;
top:40px;
outline:none;
text-indent: 20px;
font-size: 14px;
}
.title .input-right{
    width: 93px;
    height: 40px;
    border:none;
    background-color: rgb(244,3,4);
    position: absolute;
    left:755px;
    top:40px;
    color:white;

}
.title .content ul{
    position: absolute;
    bottom:2px;
}
.title .content li{
    float: left;
    width: 89px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin:0 12px;
    font-size:16px;  
}
.title .content li a{
    color:black;
}
.title .content li:hover{
    background-color:rgb(244,3,4);

    border-radius: 8px;
}
.title .content li:hover a{
    color:white;
}
.title .content .cart{
    position: absolute;
    top:40px;
    right:0;
    display: block;
    width: 148px;
    height: 38px;
    border:solid 1px rgb(227,227,227);
    background-color:rgb(245,245,245);
    font-size: 14px;
    line-height: 38px;
    text-indent:50px;
    color:black;
}
.title .content a span{
    color:rgb(244,3,4);
}
.title .content .img2{
    position: absolute;
    top:-4px;
    left:12px;
}
.little-nav{
    width: 1200px;
    margin:27px auto;
    
    font-size: 14px;
}
.little-nav a{
    color: black;
}
.main{
    width: 1200px;
    margin:0 auto;
}
.main .left{
    display: inline-block;  
}
.main .left .top{
    background-color:white;
    width: 215px;
    height: 40px;
    text-indent:60px;
    line-height:40px;
    position:relative;
}
.main .left .top a{

    color: black;
}
.main .left .top img{
    position: absolute;
    top:-4px;
    left:8px;
}
.main .left .bottom{
    width: 215px;
    height: 510px;
    margin-top:10px;
    background-color:white;
    text-indent: 60px;
    line-height: 40px;
    font-size: 14px;

}
.main .left .bottom a{
    color: black;
}
.main .left .bottom a:hover{
    color:rgb(244,3,4)
}
.main .right{
    width: 952px;
    height: 542px;
    background-color: #fff;
    float: right;
    padding: 9px;
}
.main .right div{
    float: left;
    width: 218px;
    height: 250px;
    border:1px solid #ccc;
    margin:9px;
    text-align: center;

}
.main .right div p:first-of-type{
    color:#a3a3a3;
    font-size: 16px;
}
.main .right div p:last-of-type{
    font-size: 15px;
}
.foot{
    background-color:rgb(46,46,46);
    margin-top:42px;
    height: 248px;
}
.foot .content{
    padding-top: 20px;
    width: 1200px;
    height: 130px;
    border-bottom:1px solid #a3a3a3;
    margin:0 auto;
}
.foot .content .foot1{
    float:left;
    width: 270px;
    text-indent:20px;
    
}
.foot .content .foot2{
    float:left;
    width: 120px;
}
.foot .content ul li a{
    line-height: 30px;
    color:white;
}
.foot .root{
    width: 1200px;
    text-align: center;
    margin:0 auto;
    padding-top:15px;
    line-height: 36px;
    font-size: 14px;
    color:#a3a3a3;
}


